<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Sign in</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div id="loginPage">
            <form class="form loginForm" id="login" action="/auth" method="post">
                <h1 class="form__title">Login</h1>
                <div class="form__message">
                    <% if (flash.error) { %>
                        <div class="form__input-error-message"><%= flash.error%></div>
                    <% } %>
                </div>
                <div class="form__input-group">
                    <input type="text" name="signinID" class="form__input" autofocus placeholder="Student/Professor ID" required>  
                </div>
                <div class="form__input-group">
                    <input type="password" name="signinPass" class="form__input" placeholder="Password" required>
                    <div class="form__input-error-message"></div>
                </div>
                <div class="radio__input-group">
                    <div>I'm signing in as a:</div>
                    <input type="radio" class="radio__input" id="studentLogin" name="identity" value="student" required>
                    <label for="student">Student</label>&nbsp&nbsp&nbsp
                    <input type="radio" class="radio__input" id="profLogin" name="identity" value="prof" required>
                    <label for="prof">Professor</label>
                </div>
                <button class="form__button loginButton" type="submit" name="submitButton" value="login">Login</button>
                <p class="form__text">
                    <a href="/getPassword" class="form__link" type="submit" id="linkForgotPassword">Forgot your password?</a>
                </p>
            </form>
        </div>
    </div>
    <script src= "script.js"></script>
</body>