<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor</title>
</head>

<body>
    <!--Landing page-->

    <h2 class="section-heading">Professor Portal</h2>
    <link rel="stylesheet" href="styles.css">

    <% if (isLoggedIn) {%>    
        <div>Welcome! <%= username%></div>
        <form action="/logout" method="get">
            <button type="submit" >Logout</button>
        </form>
        
        <!--Course tiles-->
        <% if (courses.length > 0) {%>
            <% for (var i = 0; i < courses.length; i++) { %>
                <a class="column-4 course" href="/course?courseName=<%= courses[i] %>">
                    <h2 class="course-text"><%= courses[i]%></h2>
                </a>
            <% } %>
        <% } else { %>
            <div>This professor has no courses.</div>
        <% } %>
    <%} else {%>
        <div>
            <h2>Please login as a professor to view this page.</h2>
        </div>
    <%}%>
</body>

</html>