/*Professor heading*/

.section-heading {
    text-align: center;
    color: #102C4E;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    border-bottom: outset;
}

body {
    --color_primary: #b1e4e4;
    --color_secondary: #286cdc;
    --color_secondary_light: #3072db;
    --color_link: #252c6a;
    --color_error: #cc3333;
    --color_success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 640px;
    padding: 50px;
    font-size: 18px;
    background: var(--color_primary);
    font-family: 'Lexend Deca', sans-serif; 
    text-align: center;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

table, td, th {
    border: 1px solid;
}

/* Sizing for Course Containers  */

.column-4 {
    float: left;
    width: 21%;
    padding: 10px;
    margin: 20px;
    height: 250px;
}


/* Color and Images for Course Containers  */

.course {
    background-color: #286cdc;
}

/*Ruleset for the font size and  for course text*/

.course-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color:black;
}



/*Changing the contenet color with user interaction*/


/* Hover classes for individualcourse boxes */

.course:hover {
    background-color: #3e79d8;
}


.center{
    margin-left:auto;
    margin-right:auto;
}

.padding{
   padding: 20px;
}


.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 10px;
    width: 80%;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}